<ion-header [translucent]="true" class="base-militar-header">
  <ion-toolbar translucent="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="digeset-content">

  <ion-card>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">BIENVENIDO AMET</ion-title>
    </ion-toolbar>
    <h2 style="font-size: 28px; padding: 6px; color: white; text-align:center ">En esta app podrá consultar los tipos de multas, su monto, buscar licencias, consultar el clima y leer el horospoco del dia, también puede registrar multas y visualizarlas </h2>
  </ion-card>

  <ion-label style="margin-left: 10px; font-size: 36px">Listado de multas</ion-label>
  <ion-card > 
    <ion-list>
      <ion-item *ngFor="let multa of multas">
        <ion-title>{{ multa.cedula }}, {{ multa.motivo }}</ion-title>
        <ion-button (click)="mostrarDetalle(multa)" class="btn-detalle">Detalles</ion-button>
      </ion-item>
    </ion-list>

    <div *ngIf="showDetail" class="detalle-vivencia">
      <ion-card class="custom-card">
        <ion-card-content>
          <h3>Cedula</h3>
          <p>{{ selectedMulta.cedula }}</p>
          <h3>Comentario:</h3>
          <p>{{ selectedMulta.comentario }}</p>
          <h3>Fecha:</h3>
          <p>{{ selectedMulta.fecha }}</p>
          <h3>Hora:</h3>
          <p>{{ selectedMulta.hora }}</p>
          <h3>Longitud:</h3>
          <p>{{ selectedMulta.longitud }}</p>
          <h3>Latitud:</h3>
          <p>{{ selectedMulta.latitud }}</p>
          <h3>Foto:</h3>
          <ion-img [src]="selectedMulta.fotoURL" class="vivencia-img"></ion-img>
          <h3>Audio:</h3>
          <audio controls>
            <source [src]="selectedMulta.audioURL" type="audio/mpeg">
            Tu navegador no soporta la reproducción de audio.
          </audio>
          <ion-button (click)="volverAListado()" class="volver-btn">Volver</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-card>
</ion-content>
